/* Write your CSS here */
.dd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.hh {
  color: #2d3a35;
  font-style: 10px;
  font-family: Roboto;
  padding: 3px;
  font-weight: bold;
}
.ss {
  color: #c20a72;
  font-style: 10px;
  font-family: Roboto;
  padding: 3px;
}
.pp {
  color: #2d3a35;
  font-style: 7px;
  font-family: Roboto;
  padding: 3px;
}
.bt {
  background-color: #007bff;
  height: 6px;
  width: 80px;
  padding: 3px;
  color: white;
  font-size: 7px;
}
